body
{
	max-width: 1500px;
	margin: auto;
}

/* Header Styling */

header
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 50px;
	/*background-color: grey;*/
}

.logo
{
	 width: 125px;
     height: 250px;
     box-sizing: content-box;
     padding-top: 15px;
     position: relative;
     background: rgb(153,0,0);
     color: white;
     font-size: 11px;
     letter-spacing: 0.2em;
     text-align: center;
     text-transform: uppercase;
}

.logo:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 25px solid #eee;
      border-left: 61px solid transparent;
      border-right: 61px solid transparent;
    }

.logo object
{
	width: 100px;
	height: auto;
}

nav
{
	margin-left: 380px;
	margin-top: 80px;
}

ul li
{
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: 50px;
}

ul li a
{
	text-decoration: none;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	margin-left: 20px;
	letter-spacing: 1.5px;
	color: black;
	position: relative;
	transition: .5s;
	padding: 8px;	
}

.navHover::after
{
	content: '';
	width: 5%;
	height: 2px;
	background-color: red;
	position: absolute;
	bottom: 0%; 
	left: 100%;
	transition: all 500ms ease;
	opacity: 0;
}

ul li a:hover
{
	color: red;
}

.navHover:hover::after
{
	left: 0%;
	width: 100%;
	opacity: 1;
}

.navHover::before
{
	content: '';
	width: 5%;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 0%; 
	right: 100%;
	transition: all 500ms ease;
	opacity: 0;
}

.navHover:hover::before
{
	right: 0%;
	width: 100%;
	opacity: 1;
}

/* Header Styling Ends Here */

/* Main Body Styling */

.aboutTitle
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.aboutTitle 

/* Main Body Styling Ends*/
